{% extends '../Common/Home.html' %}
{% block content %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>Add Article</h2>
                {% if success is not None %}
                    {% if success %}
                        <p>Article Added</p>
                    {% else %}
                        <p>This title is already added</p>
                    {% endif %}
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container contact-form">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>
                                <input type="text" name="title" placeholder="Title" required/>
                            </div>
                            <div class="form-row row">
                                <div class="col-lg-6">
                                    <div>
                                        <input type="file" name="image" accept="image/*" required/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div>
                                        <input type="number" name="week" placeholder="Week" min="1" max="40" required/>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <textarea name="article" placeholder="Article" required></textarea>
                            </div>
                            <div class="btn_box">
                                <button type="submit">Add Article</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}