{% extends './Home.html' %}
{% block content %}
    {% block menu %}
        {{ block.super }}
    {% endblock %}

    <section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>Login</h2>
                {% if invalid %}
                    <p>Invalid Username Or Password</p>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container contact-form">
                        <form method="post">
                            {% csrf_token %}
                            <div>
                                <input type="email" name="username" placeholder="Username" required/>
                            </div>
                            <div>
                                <input type="password" name="password" placeholder="Password" required/>
                            </div>
                            <div class="btn_box">
                                <button type="submit">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}